/* add flex to the body */
body {
    display: flex;
    flex-direction: column;
}

/* center text in quizcontainer class */
.quizcontainer {
    text-align: center;
}

/* center text in quiz class */
.quiz {
    text-align: center;
}